html {
    font-family: montserrat-extrabold;
    color: #FFFFFF;
    background-color: #1B1B1B;
}

body {
    margin: 0;
}

.main {
    overflow: auto;
    overflow-x: hidden;
    max-width: 1600px;
    min-height: 503px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-left: 20%;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! BANNER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.banner-img {
    height: 100%;
    width: 100%;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    margin-bottom: 0.2%;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!! FONTS !!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold.otf') format('opentype');
}

@font-face {
    font-family: 'montserrat-extrabold';
    src: url('../fonts/montserrat-extrabold.otf') format('opentype');
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url('../fonts/montserrat-semibold.otf') format('opentype');
}



.bar {
    background-color: #303030;
    height: 4px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! TOP NAV !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.top-nav {
    background-color: #0D0D0D;
    overflow: hidden;
    height: 52px;
}

    .top-nav a:first-child {
        float: left;
    }

    .top-nav a {
        float: RIGHT;
        display: block;
        color: #FFFFFF;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
    }

        .top-nav a:hover {
            -webkit-box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
            -moz-box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
            box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
            background-color: #EF7F29;
            color: #FFFFFF;
            transition: background-color 0.3s ease-out;
        }

    .top-nav .icon {
        display: none;
        width:15px;
    }



.plus {
    position: relative;
    display: block;
}

.minus {
    position: relative;
    display: none;
}



@media screen and (max-width: 1310px) {
    .top-nav {
        height: AUTO;
    }

        .top-nav .drop {
            display: none;
        }

        .top-nav a:not(:first-child) {
            display: none;
        }

        .top-nav a.icon {
            float: right;
            display: block;
        }

        .top-nav.responsive {
            position: relative;
        }

            .top-nav.responsive a.icon {
                position: absolute;
                right: 0;
                top: 0;
     
            }

            .top-nav.responsive a {
                float: none;
                display: block;
                text-align: center;
            }

            .top-nav.responsive .drop {
                float: none;
                display: block;
                text-align: center;
            }
}



.drop {
    float: right;
    overflow: hidden;
}

    .drop .dropbtn {
        cursor: pointer;
        font-size: 18px;
        border: none;
        outline: none;
        color: white;
        padding: 13px 25px 15px 4px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        width: 180px;
        height: 52px;
    }

    .drop:hover .dropbtn {
        background-color: #EF7F29;
        -webkit-box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
        -moz-box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
        box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
        transition: background-color 0.3s ease-out;
    }

    .drop:hover .drop-content a {
        transform: none !important;
    }

.orange {
    background-color: #EF7F29 !important;
    -webkit-box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
    -moz-box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
    box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
}


.drop-content {
    float: left;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    width:180px;
}

    .drop-content a {
        float: left;
        color: #0D0D0D;
        padding: 10px 0px;
        text-decoration: none;
        display: block;
        text-align: center;
        width: 100%;
    }

        .drop-content a:hover {
            background-color: #303030;
            transition: background-color 0.3s ease-out;
        }

.image_up {
    position: relative;
    pointer-events: none;
    margin-top: 3px;
    display: none;
    float: right;
    width: 15px;
    height: 15px;
}

.image_down {
    position: relative;
    pointer-events: none;
    margin-top: 3px;
    float: right;
    display: block;
    width: 15px;
    height: 15px;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

@media screen and (max-width: 1310px) {
    .drop-content {
        width: 100%;
    }

    .drop .dropbtn {
        width: 100%;
        PADDING: 14px 8px 14PX 30PX;
    }

    .drop-content {
        width: 100%;
        height: auto;
        position: relative;
    }

        .drop-content a {
            width: 100%;
        }

    .image_up {
        margin-right: 0.6%
    }

    .image_down {
        margin-right: 0.6%
    }

    .drop:hover .dropbtn {
        transform: none !important;
    }
}











/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! SIDE NAV !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    position: relative;
    height: 100%;
    overflow: hidden;
    float: left;
}

    .sidebar a {
        display: block;
        color: #FFFFFF;
        padding: 16px;  
        text-decoration: none;
    }



    .sidebar a:hover:not(.active) {
        background-color: #EF7F29;
        color: #FFFFFF;
    }


/* On screens that are less than 980px wide, make the sidebar into a topbar */
@media screen and (max-width: 980px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: left;
        }

    .content {
        float: left;
        margin-left: 0;
        height: inherit;
        width: 100%
    }

    .filter-send-text {
        width: 80% !important;
    }

    .filter-send-input-number {
        width: 20% !important;
    }
}

/* On screens that are less than 980px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 980px) {
    .sidebar a {
        text-align: left;
        float: none;
    }
}




/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! DROPDOWN !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* Style the sidenav links and the dropdown button */
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    font-family: montserrat-extrabold;
    font-size: 20px;
    color: #FFFFFF;
    display: block;
    border: none;
    background-color: #303030;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-bottom-left-radius: 15px;
    border-left: solid 5px #0D0D0D;
    border-right: solid 5px #0D0D0D;
    border-bottom: ridge 1px #0D0D0D;
    -webkit-box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
    -moz-box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
    box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
}
    .dropdown-btn:hover {
        background-color: #EF7F29;
        transition: background-color 0.3s ease-out;
    }

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background: none;
    padding-left: 14px;
}
    .dropdown-container a {
        padding: 6px 8px 6px 16px;
        border-left: solid 5px #0D0D0D;
        border-right: solid 5px #0D0D0D;
        border-bottom: ridge 1px #0D0D0D;
        background-color: #3b3b3b;
        -webkit-box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
        -moz-box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
        box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
    }



    .filter-send {
        font-family: montserrat-extrabold;
        font-size: 20px;
        padding: 6px 8px 6px 16px !important;
        border-left: solid 5px #0D0D0D;
        border-right: solid 5px #0D0D0D;
        border-bottom: ridge 1px #0D0D0D;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        -webkit-box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
        -moz-box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
        box-shadow: inset 0px 0px 30px 8px rgba(13,13,13,0.5);
    }



    .flex {
        display:flex;
    }
.filter-send-text{
    width:35%;
}
.filter-send-input-number{
    width:65%;
}
    .filter-send-input-number input {
        width: 100%;
    }
.filter-send .checkbox-invisible {
    float: right;
    height: 20px;
    width:18px;
}
        .filter-send:hover {
            background-color: #EF7F29;
            transition: background-color 0.3s ease-out;
        }
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Item list !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.item-list {
    font-size: 14px;
    display: flex;
    font-family: montserrat-semibold;
}
.nazwy {
    font-size: 16px !important;
    font-family: montserrat-bold !important;
}
.item-list :nth-child(n) {
    width: 100%;
    height:auto;
}


.item-box {
    border: 1.5px solid #303030;
    display: flex;
}

.item-part {
    padding: 1%;
    text-align: center;
    z-index: 1;
    margin: auto;
    align-self: flex-start;
}

.item-list-a {
    color: #FFFFFF;
    text-decoration: none;
    width: 100% !important;
    z-index: 2;
}

.item-part-photo{
    width:50% !important;
    padding:2%;
}

.item-part .star {
    width: 15% !important;
}

.item-part .part-image {
    width: 30% !important;
    height:auto;
}


@media screen and (max-width: 720px) {
    .item-list {
        font-size: 11px;
    }

    .nazwy {
        font-size: 13px !important;
    }
}

@media screen and (max-width: 580px) {
    .item-list {
        font-size: 9px;
    }

    .nazwy {
        font-size: 11px !important;
    }
}

@media screen and (max-width: 493px) {
    .item-list {
        font-size: 8px;
    }

    .nazwy {
        font-size: 10px !important;
    }

    .item-part-photo{
        display:none !important;
    }

}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Footer !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
footer {
    max-width: 1600px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    background-color: #0D0D0D;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.footer-list {
    display: flex;
    width: 100%;
}

.footer-part {
    float: left;
    width: 33%;
    padding: 1%;
    text-align: center;
}

    .footer-part ul {
        margin: 0px;
        padding: 0px;
    }

    .footer-part li {
        list-style-type: none;
    }

    .footer-part a {
        color: #FFFFFF;
        text-decoration: none;
    }

@media screen and (max-width: 400px) {
    .footer-list {
        float: left;
        display: block;
        width: 100%;
    }

    .footer-part {
        width: inherit;
        float: left;
    }
}


/* !!!!!!!!!!!!!!!!!!!!!!!! SLIDESHOW !!!!!!!!!!!!!!!!!!!!!!!!!!!*/


.slideshow-container {
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    height: inherit;
}

.slideshow-1 {
    float: left;
    overflow: hidden;
    height: 550px;
    width: 50%;
}

.slideshow-2 {
    float: left;
    overflow: hidden;
    height: 550px;
    width: 50%;
}

.slideshow-1-margin {
    margin-left: 18%;
    margin-top: 45px;
    margin-bottom: 55px;
}

.slideshow-2-margin {
    float: right;
    margin-right: 18%;
    margin-top: 45px;
    margin-bottom: 55px;
}

#slideshow {
    float: left;
    overflow: hidden;
    height: 427.5px;
    width: 513px;
}


.slide-wrapper {
    width: 1539px;
    height: 450px;
    -webkit-animation: slide 10s ease infinite;
}

.slide {
    position: relative;
    float: left;
    height: 427.5px;
    width: 513px;
    background-color: #303030;
}

.slide-background {
    top: 0;
    left: 0;
    height: 427.5px;
    width: 513px;
    z-index: 1;
    position: relative;
    opacity: 0.2;
}
.slide:hover .slide-background {
    opacity: 1;
}

.slide-icon {
    top: 0;
    left: 0;
    height: 427.5px;
    width: 513px;
    z-index: 2;
    position: absolute;
}


.slide-text {
    width: 513px;
    position: absolute;
    z-index: 3;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    text-shadow: 2px 2px #000000, -2px 2px #000000, 2px -2px #000000, -2px -2px #000000, 2px 2px 5px #000000;
}

    .slide-text ul {
        padding: 0;
        list-style-type: none;
    }

@-webkit-keyframes slide {
    25% {
        margin-left: 0px;
    }

    45% {
        margin-left: -513px;
    }

    60% {
        margin-left: -513px;
    }

    75% {
        margin-left: -1026px;
    }

    90% {
        margin-left: -1026px;
    }
}

@media screen and (max-width: 1600px) {
    .slideshow-container {
        width: 100%;
    }
}


@media screen and (max-width: 1310px) {
    .slideshow-1 {
        height: 500px;
        width: 50%;
    }

    .slideshow-2 {
        height: 500px;
        width: 50%;
    }

    .slideshow-1-margin {
        margin-left: 10%;
        margin-top: 45px;
        margin-bottom: 55px;
    }

    .slideshow-2-margin {
        margin-right: 10%;
        margin-top: 45px;
        margin-bottom: 55px;
    }

    #slideshow {
        height: 400px;
        width: 480px;
    }


    .slide-wrapper {
        width: 1440px;
        height: 500px;
    }

    .slide {
        height: 400px;
        width: 480px;
    }

    .slide-background {
        height: 400px;
        width: 480px;
    }

    .slide-icon {
        height: 400px;
        width: 480px;
    }


    @-webkit-keyframes slide {
        25% {
            margin-left: 0px;
        }

        45% {
            margin-left: -480px;
        }

        60% {
            margin-left: -480px;
        }

        75% {
            margin-left: -960px;
        }

        90% {
            margin-left: -960px;
        }
    }


    .slide-text {
        width: 480px;
        font-size: 27px;
    }
}



@media screen and (max-width: 1090px) {

    .slideshow-1 {
        float: NONE;
        height: 495px;
        width: 100%;
    }

    .slideshow-2 {
        float: NONE;
        height: 495px;
        width: 100%;
    }

    .slideshow-1-margin {
        margin-left: 0%;
        margin-top: 45px;
        margin-bottom: 55px;
    }

    .slideshow-2-margin {
        float: NONE;
        margin-right: 0%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .slideshow-container {
        width: 480px;
    }

    #slideshow {
        float: none;
    }
}



@media screen and (max-width: 650px) {

    .slideshow-1 {
        float: NONE;
        overflow: hidden;
        height: 300PX;
        width: 100%;
    }

    .slideshow-2 {
        float: NONE;
        overflow: hidden;
        height: 300PX;
        width: 100%;
    }

    .slideshow-1-margin {
        margin-left: 0%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .slideshow-2-margin {
        float: NONE;
        margin-right: 0%;
        margin-top: 20px;
        margin-bottom: 30px;
    }


    #slideshow {
        float: none;
        width: 300px;
        height: 250px;
    }

    .slideshow-container {
        width: 300px;
    }

    .slide-wrapper {
        width: 1200px;
        height: 250px;
    }

    .slide {
        float: left;
        height: 250px;
        width: 300px;
    }

    .slide-background {
        height: 250px;
        width: 300px;
    }

    .slide-icon {
        height: 250px;
        width: 300px;
    }

    @-webkit-keyframes slide {
        25% {
            margin-left: 0px;
        }

        45% {
            margin-left: -300px;
        }

        60% {
            margin-left: -300px;
        }

        75% {
            margin-left: -600px;
        }

        90% {
            margin-left: -600px;
        }
    }

    .slide-text {
        width: 300px;
        font-size: 18px;
    }
}












/* !!!!!!!!!!!!!!!!!!!!!!!! details cpu.... !!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.details-image {
    width: 30%;
    float: left;
}

.details-image-product{
    width: 100%;
    height: auto;
}

.details-prices {
    width: 65%;
    float: left;
    margin-left:5%;
}

.details-prices-shop {
    padding:1%;
    display: flex !important;
    max-height:62px;
    border-bottom:solid;
}

.details-name{
    font-size:30px;
    border-bottom: solid;
    padding: 1%;
}


.container-details{
    width:100%;
    margin-top:30px;
    margin-bottom:30px;
}

.content-details {
    display: grid;
    width:95%;
    margin-left: auto;
    margin-right: auto;
}

.details-prices-shop-add {
    width:34px;

}

.add-link{
    height:100%;
    width:auto;
}

.details-prices-shop-delete {
    width: 60% !important;
}

.details-prices-shop-image {
    height:34px;
    float:left;
}

.details-prices-shop-price {
    font-size:28px;
    float:right;
    margin-right:10%;
}

.details-prices-shop-item{
    display:block;
    width:34px;
    height:34px;
}
.details-prices-shop-item-link{
    width: 90% !important;
}

.details-info{
    font-size: 20px;
    width:100%;

}

.details-info-text{
    border-bottom:solid;
    padding: 5px;
}

    .details-info-text-flex{
        display:flex;
    }

.benchmark-text {
    float: left;
    align-self: center;
}

.benchmark-bar {
    border: solid 3px #0d0d0d;
    background-color: #3b3b3b;
    border-radius: 5px;
    width: 50%;
    float: left;
    margin-left: 10px;
}

.benchmark-bar-background {
    border-radius: 2px;
    z-index:10;
}

.benchmark-bar-background-text {
    width:47%;
    max-width: 757px;
    text-align: center;
    position: absolute;
}

.info-yellow {
    background-color: #ef7f29;
    display: flex !important;
    border: #661d1d solid 7px;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 5px;
}

.info-red {
    background-color: #cc3a3a;
    display: flex !important;
    border: #661d1d solid 7px;
    border-radius: 25px;
    padding: 15px;
    margin-bottom:5px;
}

.info-green {
    background-color: #29ff0f;
    display: flex !important;
    border: #147f07 solid 7px;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 5px;
}

.info-left {
    width: 6%;
    height: inherit;
    align-self: center;
}

.info-right {
    width: 94%;
    height: auto;
    height: inherit;
    align-self: center;
    -webkit-text-stroke: 0.5px BLACK;
}

.info-left img {
    width: 80%;
    height: auto;
}

.newbuild-add {
    height: 10px;
    width: 10px;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! DETAILS BUILD !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.details-build {
    width: 100%;
}

.container-details-build {
    width: 95%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.details-build-info{
    width: 100%;
    display:flex;
    padding:5px;
    border-bottom: solid 2px;
}
.details-build-info-text {
    width: 15%;
    height: auto;
    align-self:center;
}
.details-build-info-image {
    width: 6%;
    height: auto;
    align-self: center;
}
.details-build-info-name {
    margin-left:1%;
    width: 95%;
    height: auto;
    align-self: center;
}
.details-build-info-link {
    width:85%;
    display:flex;
}
.details-build-description {
    width: 100%;
    display: inline-block;
    height: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-line;
}

.details-build-comments {
    background-color: #3b3b3b;
    border: solid 4px #3b3b3b;
    border-top: 0px !important;
    width: 100%
}
.details-build-comments-grade {
    padding: 3px;
    display: flex;
}
.details-build-comments-grade-text {
    width: 10%;
    height: auto;
    align-self: center;
}
.details-build-comments-grade-star{
    width:2%;
}
.details-build-comments-text{
    background-color:#1b1b1b;
    padding: 2%;
}




/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! REGISTER FORM !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.main-form {
    text-align: -webkit-center;
}
.register-row {
    width: 389px;
    border: 1.5px solid #303030;
    padding: 10px;
}
.register-row-content {
    display: flex;
    align-items: center;

    min-height: 30px;
}
.register-row-image{
    width:12px;
}
.register-row-image-png{
    height:15PX;
}
.register-row-text {
    width: 200px;
}
.register-row-input {
    width: 174px;
}
.register-row-checkbox {
    width: inherit;
}
.form-submit {
    color: #ef7f29;
    width: 411px;
    font-family: montserrat-extrabold;
    background-color: #1b1b1b;
    border: 2px solid #ef7f29;
    padding: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
    .form-submit:hover {
        background-color: #ef7f29; /* Green */
        color: white;
    }

.register-row-validate{
margin-top:5px;
color: #cc3a3a;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! NEW BUILD !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.newbuild-row {
    display: flex;
    text-align: center;
    line-height: 60px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.newbuild-row-column {
    width: 50%;
    border: 1.5px solid #303030;
}
.newbuild-row-column-picture{

}
.newbuild-row-column-picture-img {
    width: 50px;
    vertical-align: middle;
}

.newbuild-row-column-text {
    align-self: center;
}

.newbuild-row-column-description {
    width: 90%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.newbuild-row-delete{
    display:inline-flex;
}

.form-submit-addbuild {
    color: #ef7f29;
    width: 100%;
    font-family: montserrat-extrabold;
    background-color: #1b1b1b;
    border: 2px solid #ef7f29;
    padding: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
    .form-submit-addbuild:hover {
        background-color: #ef7f29; /* Green */
        color: white;
    }

.newbuild-row-colum-100{
    width: 100%;
}