@model PartPicker.ViewModels.NewBuildViewModel
@using PartPicker.Infrastructure
@{
    ViewBag.Title = "Nowa konfiguracja";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="@Url.Content("~/Scripts/JavaScriptDropDown.js")"></script>
}
<form id="build-grade" action="" method="post">

    <div class="newbuild-row">
        <div class="newbuild-row-column">
            <div class="newbuild-row-column-text">
                Ocena:
            </div>
        </div>
        <div class="newbuild-row-column">
            <div class="stars">
                <input type="radio" id="star5" name="star" value="5">
                <label for="star5"> Five Stars </label>
                <input type="radio" id="star4" name="star" value="4">
                <label for="star4"> Four Stars </label>
                <input type="radio" id="star3" name="star" value="3">
                <label for="star3"> Three Stars </label>
                <input type="radio" id="star2" name="star" value="2">
                <label for="star2"> Two Stars </label>
                <input type="radio" id="star1" name="star" value="1">
                <label for="star1"> One Star </label>
            </div>
        </div>
    </div>


    <div class="newbuild-row">
        <div class="newbuild-row-column newbuild-row-colum-100">
            <div class="newbuild-row-column-text">
                Opis:
            </div>
            <textarea form="build-grade" class="newbuild-row-column-description" type="text" name="description" maxlength="150" value="Test Opis"></textarea>
        </div>

    </div>

    <div class="newbuild-row">
        <input class="form-submit-addgrade" type="submit" value="Dodaj ocenę" />
    </div>


</form>

